params {
    input_dir = null
    region_mode = 'auto'
    outdir = 'results'

    preprocess_container = "oras://ghcr.io/doszilab/afflecto-preprocess:v0.1.0"

    dssp_bin = '/usr/local/bin/dssp'
    dssp_version = '4.0.4'

    plddt_cutoff = 0.7
    contact_dist = 8.0
    shortest_rigid = 3
    shortest_flexible = 3
    short_rigid_threshold = 25
    contacts_cutoff = 10
    contacts_cutoff_normed = 0.15
    tertcont_filt_cutoff = 0.474
    max_prot_len = 2700
    ca_continuity_max = 6.0

    db_trs = '/database/trs'
    db_srs = '/database/srs'
    n_conformers = 5
    fresa_threads = 10
    fresa_timeout_min = 100

    use_apptainer = true
    apptainer_bin = 'apptainer'
    fresa_container = 'oras://ghcr.io/doszilab/afflecto-fresa:v0.1.0'
    fresa_binary = './fresa'
    apptainer_binds = '/ceph:/ceph,/tmp:/tmp,/scratch:/scratch'
}

profiles {

    local {
        process.executor = 'local'
        process.maxForks = 2
    }

    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
    }

    slurm {
        process.executor = 'slurm'
        process.queue = 'cpu'

        process {
            withName: RUN_FRESA {
                cpus = params.fresa_threads
                time = "${params.fresa_timeout_min + 10}m"
                memory = '8 GB'
            }

            withName: PREPARE_REGIONS {
                cpus = 1
                time = '30m'
                memory = '2 GB'
            }

            withName: MAKE_FRESA_PARAMS {
                cpus = 1
                time = '10m'
                memory = '1 GB'
            }

            withName: DISCOVER_INPUTS {
                cpus = 1
                time = '10m'
                memory = '1 GB'
            }
        }
    }


    standard {
        params.region_mode = 'auto'
    }

    tsv {
        params.region_mode = 'tsv'
    }



    test {
        params.input_dir = "${projectDir}/example"
        params.region_mode = 'auto'
        params.outdir = 'results_test'
        params.n_conformers = 5
        params.fresa_threads = 2
        params.fresa_timeout_min = 20
    }

    test_tsv {
        params.input_dir = "${projectDir}/example_TSV"
        params.region_mode = 'tsv'
        params.outdir = 'results_test_tsv'
        params.n_conformers = 5
        params.fresa_threads = 2
        params.fresa_timeout_min = 20
    }
}
